* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "poppins";
    scroll-behavior: smooth;
}

body {
    background-color: rgb(1, 18, 32);

}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%; 
    gap: 5rem;
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    z-index: 100;
}

.logo {
 margin-left: 30px;
   color: white; 
    font-size: 30px;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 30px;

}

ul li {
    list-style-type: none;
    color: white;
}

li a {
    position: relative;
    color: white;
    text-decoration: none;

}



li a:hover {
    color: aqua;

}

.menu-toggle {
    display: none;
}


section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
    color: white;

}


.about {
    display: flex;
    justify-content: center;
    align-items: center;



}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.about img {
    width: 410px;
    height: 400px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.911);
    border-radius: 50%;
    transition: 1s;

}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;


}

.text h3 {
    color: white;
}

.info h3 {
    font-size: 20px;
    font-weight: 500;

}

.info h1 {
    font-size: 50px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
}

.btn {
    border-radius: 2rem;
    border: 3px solid rgb(125, 71, 161);
    padding: 9px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;

}

.btn:hover {
    background-color: rgba(125, 71, 167);
    color: white;
    transform: scale(1.5);
}


/*about-me*/
.about-me-container {
    display: flex;
    margin-top: 6%;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;

}

.about-me-card {
    background-color: rgb(3, 26, 46);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 60px;
    border: 2px;
    border-radius: 20px;
    flex-wrap: wrap;

}

.about-me h2 {
    margin-bottom: 50px;
}

.content {
    margin-bottom: 30px;
}

.key-point ul li {
    padding: 3%;
    color: rgba(213, 192, 228, 0.959);
}

/*education*/

.Education-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    flex-wrap: wrap;
}

.Education-card {
    background-color: rgb(3, 26, 46);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 60px;
    border: 2px;
    border-radius: 30px;
    cursor: pointer;
    flex-direction: column;
    flex-wrap: wrap;

}



.Education-card h3 {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
}



.my-skills h3 {
    padding-top: 80px;
    font-size: 25px;
}

.skills-info {
    display: flex;
    column-gap: 5%;
    padding-top: 60px;
    font-size: 20px;
    justify-content: baseline;
    cursor: pointer;

}



.skills-info ul li {
    padding: 19px;
    color: rgba(213, 192, 228, 0.959);
}

.progress {
    margin-top: 20px;
    height: 7px;
    width: 220px;
    background-color: rgb(51, 47, 47);
    border-radius: 4px;

}

.html {
    margin-top: 20px;
    height: 7px;
    max-width: 90%;
    background-color: red;
    border-radius: 4px;
}
.css{
    margin-top: 20px;
    height: 7px;
    max-width: 75%;
    background-color: red;
    border-radius: 4px;
}

.javascript {
    margin-top: 20px;
    height: 7px;
    max-width: 65%;
    background-color: red;
    border-radius: 4px;
}
.bootstarp {
    margin-top: 20px;
    height: 7px;
    max-width: 75%;
    background-color: red;
    border-radius: 4px;
}
.my-sql {
    margin-top: 20px;
    height: 7px;
    max-width: 60%;
    background-color: red;
    border-radius: 4px;
}
.react {
    margin-top: 20px;
    height: 7px;
    max-width: 40%;
    background-color: red;
    border-radius: 4px;
}




.code-toggle {
    display: flex;
    font-size: 150px;
    color: white;
    justify-content: center;
    margin-left: 20%;
    margin-top: 5%;


}


/*project*/

.project-container {
    display: flex;

}

.project-grid {
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.project-card {

    margin-bottom: 5%;
    background-color: rgb(3, 26, 46);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 60px;
    border: 2px;
    border-radius: 30px;
    width: 40%;

}

.project-card h3 {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;

}


.open {
    text-decoration: none;
    text-align: center;
    margin-top: 50px;


}

.open a {
    text-decoration: none;
    color: white;
    border: 3px solid rgb(125, 71, 161);
    padding: 15px;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.open a:hover {
    background-color: rgba(125, 71, 167);
    color: rgb(248, 239, 239);

}




/*contact*/

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-container h2 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 30px;
}

.contact-me p {
    padding: 20px;
    font-size: 30px;
   margin-left: 30%;
}
 iframe{
    flex-wrap: wrap;
    width: 900px;
    margin-top: 50px;
    border-radius: 30px;
    
}


/*footer*/


.footer-container {
    text-align: center;
    margin-bottom: 30px;
}


.social {
    display: flex;
    text-decoration: none;
    justify-content: center;
    gap: 20px;

}

.social-btn a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}

.social-btn a:hover {
    transform: scale(1.5);
    color: rgb(199, 68, 199);
}


p {
    color: white;
}

/*media querty*/

@media (max-width:1600px) {
    .about {
        flex-wrap: wrap;
    }

    .Education-grid {
        flex-wrap: wrap;
        row-gap: 60px;
        column-gap: 30px;
        align-items: center;
        justify-content: space-evenly;

    }
}

@media (max-width:1400px) {

    .Education-grid {
        justify-content: center;
    }

    .project-card {
        width: 100%;
    }
    .code-toggle{
       margin-left: 10%;
       margin-top: 6%;
    }

}

@media (max-width:700px) {

    .header .menu-toggle {
        display: block;
        font-size: 30px;

    }

    .nav-links {
        position: absolute;
        top: 100%;
        width: 90%;
        margin-top: 10px;
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: none;
    }

    .nav-links li {
        margin: 80px;
    }

    .nav-links a {
        padding: 20%;
    }


    .nav-links.active {
        display: block;
    }

    .header {
       width:100%;
    }

    .header .logo {
        font-size: 30px;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        margin-right: 60px;
        transform: translatex(10%);

    }

    .about-me-container {
        width: 100%;
        margin-left: 0%;


    }

    .about-me-card {
        text-align: justify;
        padding: 10%;


    }

    .Education-grid {
        width: 100%;
        row-gap: 60px;
        display: flex;
    }

    .Education-container h2 {
        margin-bottom: 60px;
    }

    .code-toggle {
        margin-left: 20px;
    }

    .contact-me p {
        width: 100%;
        margin-left: 5%;
        font-size: 18px;

    }

    .contact-container h2 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .skills-info {
        flex-direction: column;

    }

    .skills-info ul li {
        list-style-type: none;

    }

    .progress {
        width: 100%;

    }

    .code-toggle {
        margin-top: 20%;
        margin-right: 30px;
    }

    .about img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }

    .about .info h1 {
        font-size: 50px;
    }

    .project-grid {
        row-gap: 60px;
    }

    .project-card {
        width: 100%;
    }


    iframe{
       margin-left: 0%;
       margin-right: 0%;
        max-width: 100%;      
    }
}
